//btn-primary
$primary-btn-bg-color: #1e88e5;
$primary-btn-bg-color-hover: #3ba3ff;
$primary-btn-disabled-bg-color: #EEEEEE;
$primary-btn-disabled-color: #aaaaaa;
$primary-btn-font-size: 15px;

//btn-default
$default-btn-bg-color: #616366;
$default-btn-bg-border-color: #e3e5e8;

/* input variables */

$input-border-color: #DCDEE0;
$input-font-size: 14px;
$input-color: #555555;
$input-height: 49px;
$input-border-radius: 3px;
$input-focus-border-color:#1E88E5;

// main
$primary-link-color: #0084df;
$main-font-stack: "Raleway", Helvetica, Arial, sans-serif;
$primary-color:#616366;
$primary-font-size: 15px;

/* messages vars */

//error
$error-message-color: #e53935;
$error-message-border-color:#ff4d4a;

//success_message
$success-message-color: #5ba65f;
$success-message-border-color:#66bb6a;

//warning_message
$warning-message-color: #fca426;
$warning-message-border-color:#fca426;

//info_message
$info-message-color: #1e88e5;
$info-message-border-color:#54aaff;